<h1>Rails dev in Docker</h1>

<h2>Requirenmets</h2>

<ul>
<li>OS: Ubuntu</li>
<li>version: bionic</li>
</ul>

<h2>Resources</h2>

<ul>
<li><a href="https://docs.docker.com/reference/">docker reference documentation</a></li>
</ul>

<p>Prepareing docker environment.</p>

<p><code>sh
sudo apt-get --yes install apt-transport-https ca-certificates curl \
                            gnupg-agent software-properties-common \
                            postgresql-client uvtool redis-tools git
curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
sudo add-apt-repository \
    "deb [arch=amd64] https://download.docker.com/linux/ubuntu \
    $(lsb_release -cs) \
    stable"
sudo apt-get --yes update
sudo apt-get --yes install docker-ce docker-ce-cli containerd.io docker-compose
sudo adduser $USER docker
dpkg-reconfigure locales
</code></p>

<p>check if <code>docker</code> and <code>docker-compose</code> commands are present</p>

<p><code>sh
docker --version
docker-compose --version
</code></p>

<p><code>output
Docker version 19.03.6, build 369ce74a3c
docker-compose version 1.17.1, build unknown
</code></p>

<h2>Basics</h2>

<p>Container - in Linux world, it is a run-time environment to run a program or
entire system (init process) like Ubuntu or Fedora. Environment is isolated from
host environment. Isolation is made above the kernel - process running in the
container shares only Linux kernel with the host. This is software isolation not
security isolation. Often root user inside the container has the same privileges
as hosts root, although container provides some isolation from host in security
point of view, it is not advised to depend on it. Any attack on kernel is
potentially way to breakout from the container. Much higher level of isolation
can be achieved with virtualization.</p>

<p>Containers provides whole software stack that is independent form host system,
that way an application in the container can have own software stack in required
versions.</p>

<p>From user point of view containers might be viewed as virtualization technology
but implementation is totally different - Container is more like advanced chroot.</p>

<h3>Docker glossary</h3>

<p>Docker Image - is an image with filesystem. Docker uses layered filesystem
format AUFS. Layers are combined into logically single filesystem. Image is
defined by <em>Dockerfile</em>, each line in Dockerfile creates a layer of the image.
First line in Dockerfile is <code>FROM</code> command witch create base layer from other
image, typically some base system like Ubuntu or Alpine or it can be some of
your carefully crafted system. There is only one copy of such layer and if
needed in multiple images it is shared between images. Each line in Dockerfile
creates separate layer of the image, layers other than <code>FROM</code> are not shared,
but they are still separate layers so the Image can be rebuilt very fast - only
changed layers must be rebuilt. Image is a read-only filesystem.</p>

<p>Docker Container is a run-time configured to run a specific process in
environment created by specific image. Because image is a read-only filesystem,
containers filesystem is created by layering writable layer on top of an image.
That way you can create many containers from the same image and no write
operation in one container collide with other container - each container has own
writable layer.</p>

<blockquote>
  <p>Docker Registry - TODO</p>
</blockquote>

<h2>Run a service in the container</h2>

<p><code>sh
docker run \
        --publish=5001:5432 \
        --volume=pg0_data:/var/lib/postgresql/data \
        --name=pg0 \
        --detach \
        --env POSTGRES_PASSWORD=qwe123 \
        postgres:alpine
</code></p>

<p>Postgresql service is up and running.</p>

<p>Running containers list:</p>

<p><code>sh
docker ps
</code></p>

<p><code>output
CONTAINER ID        IMAGE               COMMAND                  CREATED             STATUS              PORTS                    NAMES
15e186cd7ac6        postgres:alpine     "docker-entrypoint.s…"   6 seconds ago       Up 3 seconds        0.0.0.0:5001-&gt;5432/tcp   pg0
</code></p>

<p>Images list:</p>

<p><code>sh
docker image ls
</code></p>

<p><code>output
REPOSITORY          TAG                 IMAGE ID            CREATED             SIZE
postgres            alpine              76780864f8de        2 weeks ago         154MB
</code></p>

<p>Volumes list:</p>

<p><code>sh
docker volume ls
</code></p>

<p><code>output
DRIVER              VOLUME NAME
local               pg0_data
</code></p>

<p>To connect to Postgres directly via host, find it IP, with inspect command:
<code>docker inspect pg0</code>
or use specific command:
<code>docker inspect -f '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' pg0</code></p>

<p><code>sh
docker inspect -f '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' pg0
</code></p>

<p><code>output
172.17.0.2
</code></p>

<p>Let's try to connect to posgresql</p>

<p><code>sh
psql --user postgres \
      --host 172.17.0.2 \
      --port 5432 \
      --command 'select 1 as One;'\
      postgres
</code></p>

<p>```output</p>

<h2> one </h2>

<p>1
(1 row)</p>

<p>```</p>

<p>Although it is possible to connect to the container by its IP address, it is
also possible to connect to the Postgres on localhost via forwarded port 5001</p>

<p><code>sh
psql --user postgres \
      --host localhost \
      --port 5001 \
      --command 'select 2 as Two;'\
      postgres
</code></p>

<p>```output</p>

<h2> two </h2>

<p>2
(1 row)</p>

<p>```</p>

<h3>Another example - Redis</h3>

<p><code>sh
docker run --publish=6001:6379 --name=redis0 --detach redis:alpine
</code></p>

<p>Connect to it.</p>

<p><code>sh
redis-cli -p 6001 ping "Hello World!"
</code></p>

<p><code>output
Hello World!
</code></p>

<h2>build image for your app</h2>

<p>Prepare a demo Rails project</p>

<p><code>sh
git clone https://gitlab.com/mariusz-kowalski/rails-sidekiq.git demo_rails
</code></p>

<p><code>sh
cd demo_rails
</code></p>

<p>create <em>Dockerfile</em> file in root of the project</p>

<p>```Dockerfile
FROM ruby:2.5.1-alpine</p>

<p>ENV BUNDLER_VERSION=2.0.2</p>

<p>RUN apk add --update --no-cache binutils-gold build-base curl file g++ gcc git \
      less libstdc++ libffi-dev libc-dev linux-headers libxml2-dev libxslt-dev \
      libgcrypt-dev make netcat-openbsd nodejs openssl pkgconfig postgresql-dev \
      python tzdata yarn postgresql-client</p>

<p>RUN gem install bundler -v 2.0.2</p>

<p>WORKDIR /app</p>

<p>VOLUME tmp:/app/tmp:tmpfs
VOLUME storage:/app/storage
VOLUME node<em>modules:/app/node</em>modules</p>

<p>COPY Gemfile Gemfile.lock ./
RUN bundle config build.nokogiri --use-system-libraries
RUN bundle check || bundle install</p>

<p>COPY package.json yarn.lock ./
RUN yarn install --check-files</p>

<p>COPY . ./</p>

<p>EXPOSE 3000</p>

<h1>ENTRYPOINT ["./entrypoints/app.sh"]</h1>

<p>CMD bundle exec rails server --binding 0.0.0.0
```</p>

<p>To build this image, run <code>docker build</code> command:</p>

<p><code>sh
docker build --tag=demo-rails .
</code></p>

<p>To see list of images:</p>

<p><code>sh
docker image list
</code></p>

<p><code>output
REPOSITORY          TAG                 IMAGE ID            CREATED             SIZE
demo-rails          latest              29fcbb0a6a4b        24 seconds ago      610MB
postgres            alpine              76780864f8de        2 weeks ago         154MB
redis               alpine              b68707e68547        3 weeks ago         29.8MB
ruby                2.5.1-alpine        d29267791323        16 months ago       45.3MB
</code></p>

<p>Create container from this image</p>

<p><code>sh
docker create --name demo-rails-app --publish 3000:3000 demo-rails
</code></p>

<p><code>output
f7b22415182d0413516b00787b5333da3288be65f2d088b418f9b03b6e2d6d47
</code></p>

<p>Option <code>--publish</code> forwards given port, so the service from the container is
available at localhost on the host on a given port.</p>

<p>To run a container:</p>

<p><code>sh
docker start demo-rails-app
</code></p>

<p><code>output
demo-rails-app
</code></p>

<p>To list containers</p>

<p><code>sh
docker ps --all
</code></p>

<p><code>output
CONTAINER ID        IMAGE               COMMAND                  CREATED             STATUS                  PORTS                    NAMES
f7b22415182d        demo-rails          "/bin/sh -c 'bundle …"   4 seconds ago       Up Less than a second   0.0.0.0:3000-&gt;3000/tcp   demo-rails-app
00feab539a97        redis:alpine        "docker-entrypoint.s…"   5 minutes ago       Up 5 minutes            0.0.0.0:6001-&gt;6379/tcp   redis0
15e186cd7ac6        postgres:alpine     "docker-entrypoint.s…"   5 minutes ago       Up 5 minutes            0.0.0.0:5001-&gt;5432/tcp   pg0
</code></p>

<p><code>--all</code>, <code>-a</code> - prints also stopped containers.</p>

<p>To see logs from the container:</p>

<p><code>sh
docker logs demo-rails-app
</code></p>

<p><code>output
</code></p>

<p>Option <code>--follow</code> (<code>-f</code>) will prints logs in real time.</p>

<p>Command <code>docker run</code> is a combination of <code>create</code> and <code>start</code> commands.
Equivalent of the above tho commands would be:</p>

<p><code>sh
docker run --name demo-rails-app demo-rails
</code></p>

<p>Command <code>run</code> is especially useful for creating one time use containers</p>

<p><code>sh
docker run --rm demo-rails bundle exec rails --version
</code></p>

<p><code>output
Rails 5.2.3
</code></p>

<p>This command will create a new container, with some random name, it will
execute <code>bundle exec rails --versions</code> instead of the one defined in the
Dockerfile. After the command ends, the container will stop itself and delete
itself (option <code>--rm</code>)</p>

<p>To run a shell in one time container, use options <code>--interactive</code> and <code>--tty</code>
(short version <code>-it</code>):</p>

<p><code>sh
docker run --rm --interactive --tty demo-rails sh
</code></p>

<p><code>output
/app # pwd
/app
/app # exit
</code></p>

<p>--end--</p>
